body {
   margin: 0px;
   padding: 0px;
   color: #555555;
   font-family: 'Open Sans', sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-size: 15px;
}

a {
   color: #666;
}

pre {
   margin: 5px;
}

code {
   display: block;
   padding: 5px;
   background-color: #FFFEDD;
   border: 1px dotted silver;
   overflow: auto;
}

table.top_menu {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 2;
   width: 100%;
   background-color: #333;
   opacity: 0.8;
   color: white;
}

table.top_menu a {
   margin: 0px 5px 0px 5px;
   color: white;
}

table.top_menu input[type='text'] {
   background-color: white;
   border: 1px solid silver;
}

div.header {
   margin: 50px 10px 30px 10px;
   text-align: center;
}

div.header h1 {
   margin: 10px;
   margin-bottom: 0px;
   color: #333;
   font-size: 4em;
   font-weight: bold;
   text-transform: uppercase;
}

div.header p {
   margin-top: 0px;
   color: #999999;
   text-transform: uppercase;
}

div.post {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
}

div.post h1 {
   margin: 0px;
   margin-bottom: 5px;
}

div.post div.post_body {
   text-align: justify;
}

div.post div.post_info {
   margin-bottom: 30px;
   color: #666666;
   text-align: center;
   font-size: 10px;
}

div.post div.old_comment {
   margin-bottom: 15px;
   padding: 2px 5px 2px 10px;
   background-color: #F4F8FA;
   border-left: 2px solid #BCE8F1;
}

div.post div.old_comment div.author {
   font-weight: bold;
   font-size: 14px;
}

div.post div.old_comment div.date {
   float: right;
   font-size: 10px;
   color: #666666;
}

div.post div.old_comment p {
   margin: 10px 0px 0px 0px;
}

hr {
   margin-top: 15px;
   border: 0px;
   height: 1px;
   background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
   background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
   background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
   background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));
}

#prev_post {
   position: fixed;
   top: 200px;
   left: 0px;
   padding: 20px 5px 20px 0px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: #333;
   opacity: 0.7;
   color: white;
   font-size: 30px;
   text-decoration: none;
}

#prev_post:hover {
   padding-left: 5px;
}

#next_post {
   position: fixed;
   top: 200px;
   right: 0px;
   padding: 20px 0px 20px 5px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   background-color: #333;
   opacity: 0.7;
   color: white;
   font-size: 30px;
   text-decoration: none;
}

#next_post:hover {
   padding-right: 5px;
}

div.footer {
   width: 500px;
   margin: 20px auto 10px auto;
   text-align: center;
}